.content
    .jumbotron.content-left
        h4 Enrollment Certs 
        .table-responsive
            table.table.table-bordered.table-striped
                tbody
                    tr  
                        td Url 
                        td #{eurl}  
                    tr 
                        td Output Response
                        td #{eopRes}
                    tr
                        td Status
                        td #{estatus}
            h4 Transaction Certs 
            table.table.table-bordered.table-striped
                tbody
                    tr
                        td Url
                        td #{turl}
                    tr
                        td Output Response
                        td #{topRes}
                    tr
                        td Status
                        td #{tstatus}
