.content
    .jumbotron.content-left
        h3 Users 
        table.table.table-bordered.table-striped
            if users.length > 0
                thead
                    tr
                        th User Id
                        th First Name
                        th Last Name
                        th Biometric ID
                        th Role
                        th Email ID
                        th Blockchain ID
                        th Department
                        th Settings
                tbody
                    each user in users
                        tr
                            td #{user.username} 
                            td #{user.firstName}
                            td #{user.lastName}
                            td #{user.biometricId}
                            td #{user.role}
                            td #{user.email}
                            td
                               a(target='Certificates', href='/certs/#{user.blockChainId}') Certificates..
                            td #{user.department}
                            td 
                                a(href='/user/#{user._id}',title='Click to Edit user')
                                    span.glyphicon.glyphicon-edit
                                a(href='/delete/#{user._id}',title='Click to DELETE user')
                                    span.glyphicon.glyphicon-remove
            else
                No Users Data is not available
    
    
